<% model_class = class_name.constantize  %>
<div class="page-header">
  <h1 class="pull-left"><%= "<%= #{model_class}.model_name.human %\>" %></h1>
  <div class="pull-right">
    <%= "<%= link_to 'Создать', new_admin_#{plural_name.singularize}_path, class: 'btn btn-default' %\>" %>
  </div>
</div>

<table class="datatable">
  <thead>
  <tr>
    <%= "
      <% #{model_class.name}AdminSetting.table_columns.each do |name, info| %\>
        <th><%= #{model_class.name}.human_attribute_name(name)%\></th>
      <% end %\>
    "%>
    <th>Операции</th>
  </tr>
  </thead>
  <tbody>
  <%= "
    <% #{model_class.name}.find_each do |model|  %\>
      <tr>
        <% #{model_class.name}AdminSetting.table_columns.each do |name, info| %\>
          <td><%= model.send(name) %\></td>
        <% end %\>
        <td>
          <%= link_to admin_#{plural_name.singularize}_path(model) do%\>
            <%= fa_icon 'eye' %\>
          <% end  %\>
          <%= link_to edit_admin_#{plural_name.singularize}_path(model) do%\>
            <%= fa_icon 'edit' %\>
          <% end  %\>
          <%= link_to admin_#{plural_name.singularize}_path(model), method: :delete, confirm: 'Вы уверены?' do%\>
            <%= fa_icon 'trash-o' %\>
          <% end  %\>
        </td>
      </tr>
    <% end %\>
  " %>
  </tbody>
</table>